<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tb3_name"  default="tb3_0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multi_sim)/worlds/multi_field.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <rosparam command="load" file="$(find multi_navigation)/config/params.yaml"/>
  <param name="robot_description" value="$(find multi_sim)/urdf/turtlebot3_$(arg model).urdf" />

  <node name="spawn" pkg="multi_sim" type="spawn.py">
    <param name="tb3_name" type = "str" value="$(arg tb3_name)"/>
  </node>

</launch>
